:root {
  --background: white;
  --text-color: black;
  --card-background: white;
  --card-dropshadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --card-hover: black;
  --card-hover-text: white;
  --input-border: 1px solid #d9d9d9;
}

[data-theme="dark"] {
  --background: #121212;
  --text-color: white;
  --card-background: rgba(255, 255, 255, 0.1);
  --card-hover: white;
  --card-hover-text: black;
  --button-border: 1px solid #595959;
}
